.button {
    width: 110px;                           /* 控制按钮的宽度 */
    height: 45px;                           /* 控制按钮的高度 */
    border-radius: 7px;                     /* 控制按钮的圆角尺寸 */
    color: #409EFF;                         /* 控制文本颜色 */
    background-color: #ECF5FF;              /* 控制按钮底色 */
    border-color: #409EFF;                  /* 控制轮廓颜色 */
    border-width: 1px;                      /* 控制边框大小 */
    border-style: solid;                    /* 设置边框样式为实线 */
    font-family: 'Microsoft YaHei';         /* 设置字体为微软雅黑 */
    font-size: 12pt;                        /* 设置字体大小为12pt */
    cursor: pointer;                        /* 设置鼠标移入按钮时光标样式为“手” */
}
.button:hover {
    color: #FFFFFF;                         /* 控制鼠标移入按钮时的文本颜色 */
    background-color: #409EFF;              /* 控制鼠标移入按钮时的按钮底色 */
}
.button:active{
    background-color: #3A8EE6;              /* 控制按钮被按下时的按钮底色 */
}